{% extends "base" %}

{% block content %}
<div class="container">

    <form action="/average">
        <label for="domain">Domain</label>
        <input type="url" name="domain" id="domain">

        <label for="iterations">Iterations</label>
        <input type="number" name="iterations" id="iterations" min="5">

        <input type="submit" value="Submit">
    </form>

</div>
{% endblock content %} 